<div class="form-container">
  <div class="form-header">
    <h1>
      {{
        isEditMode
          ? ("User.EditUser" | translate)
          : ("User.AddUser" | translate)
      }}
    </h1>
  </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form">
    <!-- First Name EN -->
    <div class="form-group">
      <label class="required">{{ "User.FirstNameEN" | translate }}</label>
      <input class="form-control" formControlName="firstNameEN" />
      <div *ngIf="isInvalid('firstNameEN')" class="error-message">
        {{ "Validation.FirstNameENRequired" | translate }}
      </div>
    </div>

    <!-- Last Name EN -->
    <div class="form-group">
      <label class="required">{{ "User.LastNameEN" | translate }}</label>
      <input class="form-control" formControlName="lastNameEN" />
      <div *ngIf="isInvalid('lastNameEN')" class="error-message">
        {{ "Validation.LastNameENRequired" | translate }}
      </div>
    </div>

    <!-- First Name AR -->
    <div class="form-group">
      <label class="required">{{ "User.FirstNameAR" | translate }}</label>
      <input class="form-control" formControlName="firstNameAR" />
      <div *ngIf="isInvalid('firstNameAR')" class="error-message">
        {{ "Validation.FirstNameARRequired" | translate }}
      </div>
    </div>

    <!-- Last Name AR -->
    <div class="form-group">
      <label class="required">{{ "User.LastNameAR" | translate }}</label>
      <input class="form-control" formControlName="lastNameAR" />
      <div *ngIf="isInvalid('lastNameAR')" class="error-message">
        {{ "Validation.LastNameARRequired" | translate }}
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label class="required">{{ "User.Email" | translate }}</label>
      <input class="form-control" formControlName="email" />
      <div *ngIf="isInvalid('email')" class="error-message">
        {{ "Validation.EmailRequired" | translate }}
      </div>
      <div
        *ngIf="userForm.get('email')?.hasError('email')"
        class="error-message"
      >
        {{ "Validation.InvalidEmail" | translate }}
      </div>
      <div
        *ngIf="userForm.get('email')?.hasError('isExists')"
        class="error-message"
      >
        {{ "Validation.EmailAlreadyExists" | translate }}
      </div>
    </div>

    <!-- Mobile -->
    <div class="form-group">
      <label class="required">{{ "User.Mobile" | translate }}</label>
      <input class="form-control" formControlName="mobileNumber" />
      <div *ngIf="isInvalid('mobileNumber')" class="error-message">
        {{ "Validation.MobileRequired" | translate }}
      </div>
      <div
        *ngIf="userForm.get('mobileNumber')?.hasError('pattern')"
        class="error-message"
      >
        {{ "Validation.InvalidMobile" | translate }}
      </div>
      <div
        *ngIf="userForm.get('mobileNumber')?.hasError('isExists')"
        class="error-message"
      >
        {{ "Validation.MobileAlreadyExists" | translate }}
      </div>
    </div>

    <!-- Marital Status -->
    <div class="form-group">
      <label class="required">{{ "User.MaritalStatus" | translate }}</label>
      <select formControlName="maritalStatus" class="custom-select">
        <option [ngValue]="null">{{ "User.SelectStatus" | translate }}</option>
        <option
          *ngFor="let option of maritalStatusOptions"
          [ngValue]="option.value"
        >
          {{ option.label | translate }}
        </option>
      </select>
      <div *ngIf="isInvalid('maritalStatus')" class="error-message">
        {{ "Validation.MaritalStatusRequired" | translate }}
      </div>
    </div>

    <!-- Address -->
    <div class="form-group" style="grid-column: span 2">
      <label>{{ "User.Address" | translate }}</label>
      <textarea class="form-control" formControlName="address"></textarea>
      <!-- Max Length -->
      <div
        *ngIf="userForm.get('address')?.hasError('maxlength')"
        class="error-message"
      >
        {{ "Validation.AddressMaxLength" | translate }}
      </div>
    </div>

    <!-- Actions -->
    <div class="form-actions">
      <button type="button" class="btn btn-cancel" (click)="onCancel()">
        {{ "Actions.Cancel" | translate }}
      </button>

      <button type="submit" class="btn btn-save">
        {{
          isEditMode
            ? ("Actions.Update" | translate)
            : ("Actions.Save" | translate)
        }}
      </button>
    </div>
  </form>
<app-confirmation-modal
  [visible]="modalVisible"
  [title]="modalTitle"
  [message]="modalMessage"
  [confirmText]="'Actions.Confirm' | translate"
  [cancelText]="'Actions.Cancel' | translate"
  [showCancel]="showCancelBtn"
  (confirm)="onModalConfirm()"
  (cancel)="onModalCancel()"
></app-confirmation-modal>
</div>